*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
.title{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    font-family: cursive;
    position: relative;
    top: 40px;
}
.container{
    width: 800px;
    height: 400px;
    position: relative;
    box-shadow: 4px 4px 10px black;
    margin: auto; /* for Horizontally center*/
    transform: translateY(20%); /* 30% from Y-axis*/
}
.slides{
    position: absolute;
    left: 0;
}
.slides img{
    position: absolute;
    width: 800px;
    height: 400px;
}
.icon{
    position: absolute;
    top:45%;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.left{
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.right{
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.icon:hover{
    opacity: 0.7;
}
